/* 
Author: Brian Omondi
Email: brian.omondi@student.moringaschool.com
Type: CSS Layout
Date: 22/01/2022
Licence: MIT
*/

@import url("./utility.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* Font-family used in the design is Poppins, providing a fallback of Sans-Serif for older browsers */
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: #fafafa;
}

/* Navbar */

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 50px;
  flex-wrap: nowrap;
}
.nav-brand {
  text-decoration: none;
  font-size: 1rem;
}
.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navbar .nav-item {
  padding: 0 25px;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
}
.nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
}
a.nav-link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

a.nav-link span {
  padding-bottom: 5px;
}

a.nav-link.active {
  color: #000 !important;
}

a.nav-link.active span {
  border-bottom: 7px solid #fa9529;
}

.nav-item:last-child {
  padding-left: 30px;
}

/* Hero Section */

.hero {
  background: inherit;
  overflow: hidden;
}

.hero-skew {
  transform: skewX(-10deg) translateX(100px);
  top: 0;
  bottom: 0;
  width: 150%;
}
.hero-right {
  overflow: hidden !important;
}
.hero-burger {
  position: absolute;
  transform: skewX(10deg);
  bottom: -10px;
  height: 80%;
  left: -30px;
}

/* Typography */
.brand-name {
  font-family: "Lobster", "Poppins", "serif";
  font-weight: 900;
  font-size: 24px;
}
.motto {
  font-size: 40px;
  font-weight: 900;
}
.motto-sub {
  font-size: 20px;
  font-weight: 400;
  color: #5c5c5c;
}

/* Buttons */
.order-btn {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.order-btn button {
  outline: none;
  padding: 12px 30px;
  border-radius: 50px 50px 0 50px;
}

/* Services */
.service-card {
  border-radius: 15px;
  padding: 3rem;
}
.desc {
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
}

/* Menu */

.card {
  transition: all 0.2s linear;
  border-radius: 20px;
}

/* Double Decker */
.left{
    order: 1;
}
.right{
    order: 2;
}