/* Import External Fonts */
@import url(http://fonts.googleapis.com/css?family=Poppins:400,300,600,700);

/* Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* Font-family used in the design is Poppins, providing a fallback of Sans-Serif for older browsers */
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: #fafafa;
}

nav > .navbar {
  padding-top: 1rem;
  top: 0;
  width: 100%;
  z-index: 1;
  /* Prevent the navbar from being scrolled off the screen */
  position: fixed;
  box-shadow: 0 10px rgba(0, 0, 0, 0.2);
}

button > .btn-active,
.btn:focus {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  position: relative;
  top: 0.5rem;
}

input,
input:active,
input:focus {
  border: solid 1px #ccc;
  box-shadow: none;
  outline: none;
}

/* Colors */

.bg-white {
  background: #fff;
}

.bg-yellow {
  background: #f6b400;
}

.bg-grey {
  background: #e1ebe6;
}

.bg-green {
  background: rgb(247, 253, 246);
}

.bg-primary {
  background: #f6b400;
}

/* Utilities */

.border {
  border: 1px solid #e1ebe6;
}

.border > .border-purple {
  border-color: #e1ebe6;
}

.border-none{
  border: none;
}

.pull-right {
  float: right;
}
