/* 
Author: Brian Omondi
Email: brian.omondi@student.moringaschool.com
Type: Utility
Date: 22/01/2022
Licence: MIT
*/

/* Import External Fonts */
@import url(http://fonts.googleapis.com/css?family=Poppins:400,300,600,700);

/* Layout */

.container {
  width: 100%;
  padding-right: 0%;
  padding-left: 0%;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
/* Displays */

.d-flex {
  display: flex;
}
/* Utilities */

.border {
  border: 1px solid #e1ebe6;
}

.border > .border-purple {
  border-color: #e1ebe6;
}

.border-none {
  border: none;
}

.pull-right {
  float: right;
}
.align-items-center {
  align-items: center;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}

/* Colors */

.bg-white {
  background: #fff;
}

.bg-yellow {
  background: #f6b400;
}

.bg-grey {
  background: #e1ebe6;
}

.bg-green {
  background: rgb(247, 253, 246);
}

.bg-primary {
  background: #f6b400;
}

/* Heights */
.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-50 {
  height: 50%;
}
.h-25 {
  height: 25%;
}
.h-20 {
  height: 20%;
}
.h-10 {
  height: 10%;
}
.h-5 {
  height: 5%;
}
